<p>Login Page</p>

<form #form="ngForm" (ngSubmit)="loginHandler(form)">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" #emailInput="ngModel" ngModel required email>
        <ul *ngIf="emailInput.invalid && emailInput.touched" class="errors">
            <li *ngIf="emailInput.errors?.required">Email is required.</li>
            <li *ngIf="emailInput.errors?.email">Email is invalid.</li>
        </ul>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" #passwordInput="ngModel" ngModel required>
        <ul *ngIf="passwordInput.invalid && passwordInput.touched" class="errors">
            <li *ngIf="passwordInput.errors?.required">Password is required.</li>
        </ul>
    </div>
    <button>Login</button>
</form>